<!DOCTYPE html>
<html>
<head>
<title>Chat</title>
<link rel="stylesheet" href="/static/style.css">

<style>
.chat-box{
    height:300px;
    overflow-y:auto;
    border:1px solid #ddd;
    padding:10px;
}

.message{
    background:#6366f1;
    color:white;
    padding:8px;
    margin:5px;
    border-radius:10px;
}
</style>

</head>

<body>

<div class="navbar">
    <h2>Chat</h2>
</div>

<div class="container">

<div class="card">

<h3>Chat with <span id="user"></span></h3>

<div id="chatBox" class="chat-box"></div>

<input id="msg" placeholder="Type message">
<button class="btn" onclick="sendMessage()">Send</button>

</div>

</div>

<script>

const params = new URLSearchParams(window.location.search);
const user = params.get('email');

document.getElementById('user').innerText = user;

function sendMessage(){
    const text = document.getElementById('msg').value;

    const div = document.createElement('div');
    div.className = "message";
    div.innerText = text;

    document.getElementById('chatBox').appendChild(div);

    document.getElementById('msg').value = "";
}

</script>

</body>
</html>